#left-ear {
  transform-origin: 44px 49px;
  transition: all 1s linear;
}

#right-ear {
  transform-origin: 212px 49px;
  transition: all 1s linear;
}

#bear:hover #left-ear {
  transform: translateY(-10px);
}

#bear:hover #right-ear {
  transform: translateY(-10px);
}

#right-eye {
  transform-origin: 171px 107px;
  animation: eyeballs 2s infinite linear;
}

#left-eye {
  transform-origin: 85px 107px;
  animation: eyeballs 2s infinite linear;
}

@keyframes eyeballs {

  0% {
    transform: translateX(-10px);
  }

  50% {
    transform: translateX(10px);
  }

  100% {
    transform: translateX(-10px)
  }

}
